*.tar.gz
*.Rhistory
*.Rcheck
*.Rproj.user
*.Rproj.user
*.RData
immunaut.Rproj
manual.pdf

*.o
*.so

.DS_Store
*.history
*.dll

*.~lock.*
*.csv#
Example_500k_51f.csv
R-package.Rcheck/
R-package.Rcheck
immunaut_1.0.0.tar.gz
testing_data.csv
R-package/data-raw/testing_data.csv
